@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Nunito Sans', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.625;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', system-ui, sans-serif;
    font-weight: 700;
  }

  /* Improve text readability */
  p {
    line-height: 1.75;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
